<th>
    <div class="col-sm-4">
        <span>{{item.id}}</span>
    </div>
</th>
<th>
    <div class="divTableCell">
        <span>{{item.name}}</span>
    </div>
</th>
<th>
    <div class="divTableCell">
        <span>{{item.city}}</span>
    </div>
</th>
<th>
    <div class="divTableCell">
        <span>{{item.address}}</span>
    </div>
</th>
<th>
    <div class="row align-items-center justify-content-center">
        <button (click)="addNewOrder($event)" class="btn btn-primary">Add</button>
    </div>
</th>