<td>
    <div class="col-sm-4">
        <span>{{item.id}}</span>
    </div>
</td>
<td>
    <div class="divTableCell">
        <span>{{item.productName}}</span>
    </div>
</td>
<td>
    <div class="divTableCell">
        <span>{{item.timeStart}}</span>
    </div>
</td>
<td>
    <div class="divTableCell">
        <span>{{item.address}}</span>
    </div>
</td>
<td >
    <div class="row d-flex align-items-center justify-content-end">
    <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true" (click)="toggleToEdit()"></i>
    <!-- <button class="fa fa-pencil-square-o" aria-hidden="true" (click)="toggleToEdit()"></button>  -->
    </div>
</td>