@import './styles/app.scss';
.divTableCell {
    // width: 150px;
    min-width: 200px;
    margin: bottom;
}

.table th,
.table td {
  padding: 0.0rem;
  vertical-align: bottom;
  border-top: 1px solid #dee2e6;
}

tr {
    display: table-row;
    vertical-align: bottom;
    border-color: inherit;
}
