<table class="table-striped table-hover">
    <thead>
        <tr>
            <app-items-display-header [item]="this.tableHeader" (addOrder)="addNewOrder($event)">
            </app-items-display-header>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of items | paginate: { itemsPerPage: 10, currentPage: p, totalItems: count }; let i = index">
            <app-items-display-row *ngIf="isDisplay(i)" [item]="item" (onToggleEdit)="toggleEdit(i);" (click)="first(i)">
            </app-items-display-row>
            <app-items-editable-row *ngIf="!isDisplay(i)" [item]="item" (onToggleDisplay)="toggleEdit(i);updateOrderCheckId(item)" (onDeleteOrder)="deleteOrder(item)">
            </app-items-editable-row>
        </tr>
    </tbody>
    <pagination-controls class="float-right" (pageChange)="pageChanged($event);p = $event" nextLabel="Next"></pagination-controls>
</table>