<h5>Orders</h5>
<table class="table-striped table-hover">
    <thead>
        <tr>
            <app-display-header [item]="this.tableHeader" (addOrder)="addNewOrder($event)">
            </app-display-header>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of orders | paginate: { itemsPerPage: 10, currentPage: p, totalItems: count }; let i = index">
            <app-display-row *ngIf="isDisplay(i)" [item]="item" (onToggleEdit)="toggleEdit(i);" (click)="first(item.id)">
            </app-display-row>
            <app-editable-row *ngIf="!isDisplay(i)" [item]="item" (onToggleDisplay)="toggleEdit(i);updateOrderCheckId(item)" (onDeleteOrder)="deleteOrder(item)">
            </app-editable-row>
        </tr>
    </tbody>
    <pagination-controls class="float-right" (pageChange)="pageChanged($event);p = $event" nextLabel="Next"></pagination-controls>
</table>
<h5>Items</h5><i class="fa fa-spinner"></i>
<app-items-table [data]="inputToChild">....</app-items-table>

