<th>
    <div class="col-sm-4">
        <span>{{item.id}}</span>
    </div>
</th>
<th>
    <div class="divTableCell">
        <span>{{item.productName}}</span>
    </div>
</th>
<th>
    <div class="divTableCell">
        <span>{{item.timeStart}}</span>
    </div>
</th>
<th>
    <div class="divTableCell">
        <span>{{item.status}}</span>
    </div>
</th>
<th>
    <div class="divTableCell">
        <span>{{item.location}}</span>
    </div>
</th>
<th>
    <div class="divTableCell">
        <span>{{item.type}}</span>
    </div>
</th>
<th>
    <div class="row d-flex align-items-center justify-content-end">
        <button (click)="addNewOrder($event)" class="btn btn-primary">Add</button>
    </div>
</th>