<td>
    <div class="col-sm-4">
        <span>{{item.id}}</span>
    </div>
</td>
<td>
    <div class="divTableCell">
        <input class="form-control" [(ngModel)]="item.productName" placeholder="productName">
    </div>
</td>
<td>
    <div class="divTableCell">
        <!-- <input [value]="item.description" placeholder="description"> -->
        <!-- <input [(ngModel)]="item.timeStart"   placeholder="timeStart"> -->
        <input class="form-control" placeholder="yyyy-mm-dd"
             name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
        <button class="input-group-addon" (click)="d.toggle()" type="button">
        <!-- <img src="img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/> -->
        </button>
    </div>
</td>
<td>
    <div class="divTableCell">
        <input class="form-control" [(ngModel)]="item.address" placeholder="address">
    </div>
</td>
<td>
    <div class="divTableCell">
        <span class="btn-group">
            <button (click)="toggleToDisplay()" class="btn btn-success">Save</button>
            <button (click)="toggleToDisplay();deleteOrder()" class="btn btn-danger ml-1">Delete</button>
        </span>
    </div>
</td>