<td>
    <div class="divTableCell">
        <span>{{item.id}}</span>
    </div>
</td>
<td>
    <div class="divTableCell">
        <input class="form-control" [(ngModel)]="item.productName" placeholder="productName">
    </div>
</td>
<td>
    <div class="divTableCell">
        <input type="text" class="form-control" [minDate]="minDate" [maxDate]="maxDate" #dp="bsDatepicker" bsDatepicker [bsValue]="bsStart"
            (bsValueChange)="onChangeDatePickerStart($event)">
    </div>
</td>
<td>
    <div class="divTableCell">
        <input type="text" class="form-control" [minDate]="minDate" [maxDate]="maxDate" #dp1="bsDatepicker" bsDatepicker [bsValue]="bsEnd"
            (bsValueChange)="onChangeDatePickerEnd($event)">
    </div>
</td>
<td>
    <div class="divTableCell">
        <select class="form-control" name="type" [ngModel]="item.status" (change)="onChangeStatus($event.target.value)">
            <option *ngFor="let stat of status" [value]="stat"> {{stat}}</option>
        </select>
    </div>
</td>
<td>
    <div class="divTableCell">
        <input class="form-control" [(ngModel)]="item.location" placeholder="location">
    </div>
</td>
<td>
    <div class="divTableCell">
        <select class="form-control" name="type" [ngModel]="item.type" (change)="onChangeType($event.target.value)">
            <option *ngFor="let type of types" [value]="type"> {{type}}</option>
        </select>
    </div>
</td>
<td>
    <div class="divTableCell">
        <span class="btn-group">
            <button (click)="toggleToDisplay()" class="btn btn-success">Save</button>
            <button (click)="toggleToDisplay();deleteOrder()" class="btn btn-danger ml-1">Delete</button>
        </span>
    </div>
</td>