<td>
    <div class="col-sm-4">
        <span>{{item.id}}</span>
    </div>
</td>
<td>
    <div class="divTableCell">
        <input class="form-control" [(ngModel)]="item.productName" placeholder="productName">
    </div>
</td>
<td>
    <div class="divTableCell">
        <!-- <form class="form-inline"> -->
        <!-- <div class="form-group">  -->  <!-- item.timeStart -->
        <div class="input-group">
            <input class="form-control col-10" placeholder="dd-mm-yyyy" name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
            <button class="input-group-addon" (click)="d.toggle()" type="button">
                <img src="assets/calendar-icon.svg" style="width: 1rem; height: 1rem; cursor: pointer;" />
            </button>
        </div>
        <!-- </div> -->
        <!-- </form> -->
    </div>
</td>
<td>
    <div class="divTableCell">
        <!-- <input class="form-control" [(ngModel)]="item.status" placeholder="status"> -->
        <select class="form-control" name="type" [ngModel]="item.status" (change)="onChangeStatus($event.target.value)">
            <option *ngFor="let stat of status" [value]="stat"> {{stat}}</option>
        </select>
    </div>
</td>
<td>
    <div class="divTableCell">
        <input class="form-control" [(ngModel)]="item.location" placeholder="location">
    </div>
</td>
<td>
    <div class="divTableCell">
        <select class="form-control" name="type" [ngModel]="item.type" (change)="onChangeType($event.target.value)">
            <option *ngFor="let type of types" [value]="type"> {{type}}</option>
        </select>
    </div>
</td>
<td>
    <div class="divTableCell">
        <span class="btn-group">
            <button (click)="toggleToDisplay()" class="btn btn-success">Save</button>
            <button (click)="toggleToDisplay();deleteOrder()" class="btn btn-danger ml-1">Delete</button>
        </span>
    </div>
</td>